
#logo{
    
    position:relative;
    left: 780px;
    top: 60px;

}

h1{

    text-align: center;
}

header {
    width: 1200px;
    height: 100px;
    background-color: rgb(19, 34, 117);
    color: #e4e3e3;
    text-align: center;
    font-size: 36px;
    line-height: 100px;
    margin: 0 auto;
    clear: both; /* Agregado */
}



main {
    width: 1000px;
    background-color: rgb(28, 95, 182);
    color: #e4e3e3;
    float: left;
    position: relative;
    left: 352px;
}
aside {
    width: 200px;
    background-color: rgb(16, 54, 160);
    color: #e4e3e3;
    float: left;
    position: relative;
    left: 352px;
}

.main-footer{

    width: 600px;
    background-color: rgb(20, 23, 163);
    color: #e4e3e3;
    float: left;
    position: relative;
    left: -848px;
    top: 50px;

}

.aside-footer{
    width: 600px;
    background-color: rgb(11, 24, 212);
    color: #e4e3e3;
    float: left;
    position: relative;
    left: 950px;
    top: -25px;
}